Tuples
A tuple is a collection of values that are ordered and immutable. They are defined using parentheses () and can contain elements of different types.
In short ,a tuple is an immutable list.A tuple can not be changed in any way once it is created.

Creating Tuples

In [1]:
t1=()
type(t1)

tuple

In [3]:
l = []
type(l)
t1= ()
print(type(t1))

<class 'tuple'>

In [4]:
l = ["bappy"]
print(l)

['bappy']

In [5]:
t2=("zobayer",12)
print(t2)

('zobayer', 12)

In [6]:
t3 = (1,2,3,4)
print(t3)

t4 =(1,2,3,True,[1,2,3])
print(t4)

(1, 2, 3, 4)
(1, 2, 3, True, [1, 2, 3])

In [7]:
t5=(1,2,3,(5,6))
print(t5)

(1, 2, 3, (5, 6))

In [8]:
t6 = tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

Accessing Items
indexing
slicing

In [9]:
t3 = (1,2,3,4)
t3[0]

1

In [10]:
t3[0:3]

(1, 2, 3)

In [11]:
t3[::2]

(1, 3)

Editing items/ Deleting items

In [12]:
t3 =(1,2,3,4)
t3[0]=10

TypeError: 'tuple' object does not support item assignment

Type casting

In [13]:
t3= (1,2,3,4)
temp = list(t3)
print(temp)

[1, 2, 3, 4]

In [14]:
temp.append(200)
temp

[1, 2, 3, 4, 200]

In [17]:
t3 = tuple(temp)
print(t3)
print(type(t3))

(1, 2, 3, 4, 200)
<class 'tuple'>

Tuple_methods
len/min/max/sorted/sum

In [18]:
t= (1,2,3,4,3)
print(len(t))
print(min(t))
print(max(t))
print(sum(t))
print(sorted(t,reverse=False))

5
1
4
13
[1, 2, 3, 3, 4]

In [19]:
t = (1,2,3,4,5)
t.count(3)

1

In [20]:
#index
t.index(1)

0

In [21]:
t = (1,2,3,4,5,6)
temp= list(t)
temp

[1, 2, 3, 4, 5, 6]

Operations on Tuples
.Arithmetic operations
.membership operations
.loop

In [1]:
#arithmetic operations
t1= (1,2,3,4)
t2=(5,6,7,8,9)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [2]:
t1=(1,2,3,4,5)
1 in t1

True

In [3]:
1 not in t1

False

In [4]:
t1 = (1,2,3,4)
for i in t1:
    print(i)

1
2
3
4

Tuple_Comprehension
you might read about list comprehension in python, but there is no tuple comprehension in python,but we will discuss how we can emulate tuple comprehension in python.

In [5]:
#add i to 10 numbers to a list

l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuple unpacking

In [6]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [7]:
a=(1,2,3,4)
b=(5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

Sets
A set is an unordered collection of items.Every set element is unique( no duplicates) and must be immutable (cannot be changed).

In [8]:
#empty
s = set()

print(s)
print(type(s))

set()
<class 'set'>

In [9]:
#1D
s1= {1,2,2}
print(s1)

{1, 2}